.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(9 10 12);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Artist */
.artist-profile {
  border-radius: 3rem;
  width: 6rem;
  height: 6rem;
}

/* Container panel */
.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  border: 0 solid #505a69;
  background-color: rgb(20 23 28);
  padding: 1.5rem;
  border-radius: 1rem;
}

.confined {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.gap-row {
  grid-template-columns: repeat(8,minmax(0,1fr));
}

.search-form {
  border-radius: 100px;
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
